@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clever App</h2>


@Html.ActionLink("Setup ad Configure", "Index", "Settings")

@Html.ActionLink("Reports", "Index", "Home")
