@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h2>Clever App</h2>


@Html.ActionLink("Setup ad Configure", "Index", "Settings")
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Reports", "Index", "Reporting")
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Trigger Alert", "TriggerAlert", "Alerts")
